body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #ffe6f5, #f3e8ff, #e8f7ff);
    background-size: 300% 300%;
    animation: bgMove 10s ease infinite;
}

@keyframes bgMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Banner */
.hero {
    background: linear-gradient(135deg, #ea0c78, #8b68f3, #dc086e);
    background-size: 300% 300%;
    animation: bgMove 8s ease infinite;
    color: white;
    padding: 80px 20px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
}

.hero h1 {
    margin: 0;
}

.hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    font-size: 45px;
    font-weight: bold;
}

.hero-title img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}

/* Nội dung */
.section {
    max-width: 1100px;
    margin: 50px auto;
    padding: 0 20px;
}

.card-custom {
    background: rgba(255, 255, 255, .95);
    border-radius: 20px;
    padding: 35px;
    box-shadow: 0 10px 30px rgba(135, 85, 244, .15);
    transition: .35s;
    margin-bottom: 30px;
}

.card-custom:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(223, 57, 162, .25);
}

.card-custom h2 {
    color: #df39a2;
    font-weight: bold;
}

.card-custom h4 {
    color: #8755f4;
}

.card-custom ul li {
    margin-bottom: 10px;
}

/* Thành viên */
.member {
    text-align: center;
    padding: 25px;
    border-radius: 18px;
    transition: .3s;
}

.member:hover {
    background: #fff0fb;
    transform: translateY(-8px);
}

.member img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #df39a2;
    margin-bottom: 15px;
    transition: .3s;
}

.member img:hover {
    transform: scale(1.08);
}

.member h5 {
    color: #8755f4;
    font-weight: bold;
}
.hero{
    position: relative;
}

.login-btn{
    position: absolute;
    top: 25px;
    right: 30px;

    text-decoration: none;
    color: white;
    background: rgba(255,255,255,0.2);
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    transition: .3s;
}

.login-btn:hover{
    background: white;
    color: #df39a2;
    transform: translateY(-2px);
}

/* Footer */
footer {
    margin-top: 50px;
    background: linear-gradient(135deg, #df39a2, #8755f4);
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 16px;
}