. {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  min-height: 100vh;
}

.card {
  width: 100%;
  background-color: beige;
  padding: 15px;
  border-radius: 5px;
  flex: 1; /*giúp 3 cái hộp có độ rộng bằng nhau*/
}
.cards {
  display: flex;
  gap: 20px;
}
.sidebar {
  background-color: aliceblue;
  padding: 30px;
}
.sidebar ul {
  list-style: none;
}
.sidebar li {
  margin: 20px 0px;
}
.sidebar a {
  color: white;
  width: 250px;

  text-decoration: none;
}
.sidebar a:hover {
  color: blue;
}
/*khung chứa biểu đồ nè*/
.chart-container {
  display: flex;
  gap: 15px;
  align-items: flex-end; /*thuộc tính này giúp các cột dính chặc xuống đáy*/
  height: 200px; /*cho nó 1 chiều cao cố định*/
  background-color: palegoldenrod;
}
/*cột của biểu đồ*/
.bar {
  width: 40px;
  background: palevioletred;
  position: relative; /*để căn chỉnh mấy chữ thứ 2 thứ 3 cho đúng chỗ*/
}
/*căn chỉnh lại thứ 2,3 xuống cuối biểu đồ*/
.bar-label {
  position: absolute;
  bottom: -25px;
}
/*định dạng danh sách giao dịch*/
.transaction-list {
  list-style: none; /*bỏ các dấu tròn mặt định*/
}
.transaction-item {
  display: flex;
  justify-content: space-between; /*để giao dịch nhảy sang bên trái còn số tiền thì bên góc phải*/
}
/*phân biệt thu/chi*/
.income {
  color: green;
}
.expense {
  color: red;
}
